<%= link_to('Back to Homepage', {controller: 'books', action: 'index'}) %><br />

<div class="books edit">
  <h2>Update a Book</h2>

  <%= form_for(@book) do |f| %>
    <% # url: book_path(@book), method: 'patch' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Update book") %>
    </div>

  <% end %>
</div>
