<%= link_to('Back to Homepage', {controller: 'books', action: 'index'}) %><br />

<div class="books new">
  <h2>Add a Book</h2>

  <%= form_for(@book) do |f| %>
    <% # url: books_path, method: 'post' %>

    <%= render(partial: 'form', locals: {f: f}) %>

    <div class="form-buttons">
      <%= f.submit("Create book") %>
    </div>

  <% end %>
</div>
